.shop{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    .shop__content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .shop__item{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 376px;
            .shop__title{
                font-weight: 500;
                font-size: 25px;
                line-height: 37px;
                letter-spacing: 0.05em;
                color: #000000;
                margin: 18px 0 8px 0;
            }
        }
        .shop__img-1{
            background-image: url(../img/shop-1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 376px;
            height: 280px;
        }
        .shop__img-2 {
            background-image: url(../img/shop-2.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 376px;
            height: 280px;
        }
        .shop__img-3 {
            background-image: url(../img/shop-3.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 376px;
            height: 280px;
        }
    }
}
.purple{
    text-decoration: none;
}